$color-black: #353535;
$color-red: #e31243;
$color-white: #ffffff;
$color-blue: #128be3;
$color-border: #dbdada;
$color-background: #f5f5f5;
$color-gray: #999999;
$color-status: #FF8800;

$button-red-background: $color-red;
$button-blue-background: $color-blue;
$button-font-size: 14px;
$button-line-height: 17px;

$table-color-active: #F2F2F2;

$status-color-pending: #ff8800;
